<footer>
  <div class="container-fluid">
    <div class="row footer_mb">
      <div class="col-md-12">
        <div class="pull-left text_footer">
          &copy; 2018 - {{ "now" | date: "%Y" }} {{ site.title }}
        </div>
        <div class="pull-right text_footer">
          <span>Hosted by</span> <a href="https://www.netlify.com/" target="_blank">Netlify</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <small>
            <span>Feito com  <i class="fas fa-heart icon_heart"></i> | </span>
            {% for tool in site.data.made_with.tools %}
              <a href="{{ tool.link }}" target="_blank">{{ tool.name }}</a> |
            {% endfor %}
          </small>
          <small>
            <div>Icons made by <a href="https://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>
