<header id="hero" class="p-left p-right">
  <div class="jumb_box jumb_flex">
    <div class="jumb_h1">
      <h1 id="pageHeading">{{ site.title }}</h1>
      <h2 id="pageSubheading">Full Stack Developer</h2>
    </div>

    <div class="social">
      <a href="{{ site.socials.github }}" target="_blank" class="icons">
        <i class="fab fa-github"></i>
      </a>

      <a href="{{ site.socials.linkedin }}" target="_blank" class="icons">
        <i class="fab fa-linkedin"></i>
      </a>

      <a data-toggle="modal" href="#myModal" class="icons">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

    <div class="arrowDown">
      <a href="#one" class="icon_angle"><i class="fa fa-angle-down"></i></a>
    </div>
  </div>
</header>
