<!-- Meta tags -->
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.title }}">
<meta name="keywords" content="Ruan Kaylo, ruankaylo, ruan kaylo">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#000411">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#000411">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#000411">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">

<!-- Meta tags [Facebook] -->
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="https://ruankaylo.netlify.app/assets/images/LP_Ruan_banner.png">
