$backgroundColor: #000411;
$bodyColor: rgba(255, 255, 255, 0.99);
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
