<section id="one" class="elem jumb_box">
  <span class="startlabel">Quem sou eu</span>
  <h4 class="mt-2">
    Eu sou formado em Ciências da Computação pela Universidade Estadual do Piauí (UESPI).
    <p></p>
    Sou apaixonado por tecnologia e programação e sempre procuro desenvolver projetos para aprimorar meu conhecimento e habilidades.
    <p></p>
    Atualmente trabalho com Ruby on Rails e estou iniciando os estudos em Angular(Typescript) para me especializar no front-end.
  </h4>
</section>
