<section class="elem jumb_box">
  <span class="startlabel">Portifólio</span>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="list-group">
          <img id="myImg" src="assets/images/LP_Ruan_v1.png" alt="Versão 1.0" title="Versão 1.0" class="list-group-item port_img">
          <figcaption class="text-center">Versão 1.0</figcaption>
        </div>
      </div>
      <div class="col-md-6">
        <div class="list-group">
          <img id="myImg" src="assets/images/Blog_HE.png" alt="Site Helder Eugênio" title="Site Helder Eugênio" data-link="https://heldereugenio.com.br" class="list-group-item port_img">
          <figcaption class="text-center">Site Helder Eugênio</figcaption>
        </div>
      </div>
    </div>
  </div>
</section>
