<section class="elem jumb_box">
  <span class="startlabel">Skills</span>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="list-group">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/images/browser.png" alt="Front-end" title="Front-end" class="img_mt">
                <h1>Front-end</h1>
              </div>
              <div class="flip-card-back">
                {% for skill in site.data.front_end.skills %}
                  <h4>{{ skill.name }}</h4>
                {% endfor %}
                </ul>
              </div>
              <div class="corner" ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="list-group">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/images/server.png" alt="Back-end" title="Back-end" class="img_mt">
                <h1>Programação</h1>
              </div>
              <div class="flip-card-back">
                {% for skill in site.data.back_end.skills %}
                  <h4>{{ skill.name }}</h4>
                {% endfor %}
              </div>
              <div class="corner"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="list-group">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/images/team.png" alt="Other" title="Other" class="img_mt">
                <h1>Outros</h1>
              </div>
              <div class="flip-card-back">
                {% for skill in site.data.others.skills %}
                  <h4>{{ skill.name }}</h4>
                {% endfor %}
              </div>
              <div class="corner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
